#dif {
display: none;
position: fixed;
bottom: 25%;
right: 66px;
z-index: 98;
border: none;
outline: none;
background-color:white;
color: white;
padding: 5px;
font-size: 14px;
line-height: 1.42857143;
color: #fff;
padding: 10px;
border:1px solid rgba(0,0,0,.15);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
top:50px;
height:432px;
width: 310px;
border-radius: 10px;
padding: 0 10px;
}
.ml{
text-align:center;
}
.thh{
border:1px solid black;
text-align:center
}
.kik{   
margin: auto;
padding: 2px 4px;
border: 1px solid #555;
background-color: #4d82d28c;
border-radius: 4px;
color:rgb(0,0,0);
}
.p{ box-shadow:0 0 0 0.2rem rgba(0,123,255,.25)}
.tro{
border-top: 1px solid #e1f1ff;
font-size: 12px;
line-height: 1.5;
padding: 15px 0;
}
.bb{float:right; cursor: pointer; color:#cc3467}
.bebo{
text-transform:none
}
.home{
background: url(images/shutterstock_360095273.jpg) no-repeat 100% 100%;
background-size: cover;
}
.tdo{
color: #016FF9;
font-weight: 600;
letter-spacing: 1px;
}
.kiki{ border:1px black solid}
.kik{   
margin: auto;
padding: 2px 4px;
border: 1px solid #555;
background-color: #4d82d28c;
border-radius: 4px;
color:rgb(0,0,0);
}
@media screen and (max-width: 1199px)
p {
margin: 0 0 10px;
}
.iyo { position: unset;}
.eqq{ color:unset}
.kij{ color:#016FF9 }
.bb{float:right; cursor: pointer; color:#cc3467}
html {
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
box-sizing: inherit;
}
.background {
padding: 0 25px 25px;
position: relative;
width: 100%;
}
.background::after {
content: '';
background: #60a9ff;
background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
height: 350px;
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 0;
}
#sidebar ul li a:hover {
color: white;
background: #d56768;
border-radius:5px
}
.qq :hover {
color:white;
background:#d56768
}
.jjj {
background:#f7f7f8;
}
.cl :hover {
background:#f7f7f8;
}
.ccc {
color: #333;
-webkit-font-smoothing: antialiased;
font-weight: 300;    
font-size: 22px;
line-height: 30px;
}
.yy{border-bottom-width: 1px;
font-size: 12px;
text-align:center;
text-transform: uppercase;
color: gray;
font-weight: 400;
padding-bottom: 5px;
padding: 12px 8px;
vertical-align: middle; line-height: 1.42857143;
}
.kk {
line-height: 1.42857143;
border-top: 1px solid #ddd;
text-align:center;
padding: 12px 8px;
vertical-align: middle; line-height: 1.42857143;
}
.nn{
font-size: 20px;
float: left;
margin-right: 15px;
line-height: 30px;
width: 30px;
text-align: center;
color: #fff;
}
.koo{
background: linear-gradient(to bottom,#fb404bc2 0,#bb0502e0 100%)
}
table { border-collapse: separate; }
tr:last-child td:first-child { border-bottom-left-radius: 5px; }
tr:last-child td:last-child { border-bottom-right-radius: 5px; }
td,th {      padding:7px; }
#container {
background: #666;
margin: auto;
width: 900px;
height: 700px;
padding-top: 30px;
font-family: helvetica, arial, sans-serif;
}
.jj {
background: #e3e3e3;
background: -moz-linear-gradient(top, #e3e3e3, #c8c8c8);
background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#c8c8c8));
padding: 10px 20px;
margin-left: -20px;
margin-top: 0;
position: relative;
width: 50%;
-moz-box-shadow: 1px 1px 3px #292929;
-webkit-box-shadow: 1px 1px 3px #292929;
box-shadow: 1px 1px 3px #292929;
color: #454545;
text-shadow: 0 1px 0 white;
}
.arrow {
width: 0; height: 0;
line-height: 0;
border-left: 20px solid transparent;
border-top: 10px solid #c8c8c8;
top: 104%;
left: 0;
position: absolute;
}
#myBtnn {
position: fixed;
bottom: 50%;
right: 0px;
text-align:center;
z-index: 98;
border: none;
outline: none;
background-color:#33333361;
color: white;
cursor: pointer;
padding: 5px;
font-size: 14px;
line-height: 1.42857143;
color: #fff;
padding: 10px;
border-radius: 6px 0 0px 6px;
width:65px;
height:45px
}
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 15px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: #cf4141;
color: white;
cursor: pointer;
padding: 5px;
border-radius: 50%;
width:40px;
height:40px
}
#myBtn:hover {
background-color: #555;
}
@media (min-width: 900px) {
.background {
padding: 0 0 25px;
}
}
.container {
margin: 0 auto;
padding: 50px 0 0;
max-width: 960px;
width: 100%;
}
.panel {
background-color: #fafafa;
border-radius: 10px;
padding: 0px 25px;
position: relative;
width: 100%;
z-index: 10;
}
.pricing-table {
box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
display: flex;
flex-direction: column;
}
@media (min-width: 900px) {
.pricing-table {
flex-direction: row;
}
}
.pricing-table * {
text-transform: uppercase;
}
.pricing-plan {
border-bottom: 1px solid #e1f1ff;
padding: 0px;
}
.pricing-plan:last-child {
border-bottom: none;
}
@media (min-width: 900px) {
.pricing-plan {
border-bottom: none;
border-right: 1px solid #e1f1ff;
flex-basis: 100%;
padding: unset;
}
.pricing-plan:last-child {
border-right: none;
}
}
.pricing-img {
margin-bottom: 25px;
max-width: 100%;
}
.pricing-header {
color: #888;
font-weight: 600;
letter-spacing: 1px;
}
.pricing-features {
color: #016FF9;
font-weight: 600;
letter-spacing: 1px;
margin: 50px 0 25px;
}
.pricing-features-item {
border-top: 1px solid #e1f1ff;
font-size: 12px;
line-height: 1.5;
padding: 15px 0;
}
.pricing-features-item:last-child {
border-bottom: 1px solid #e1f1ff;
}
.pricing-price {
color: #016FF9;
display: block;
font-size: 32px;
font-weight: 700;
}
.pricing-button {
border: 1px solid #9dd1ff;
border-radius: 10px;
color: #348EFE;
display: inline-block;
margin: 25px 0;
padding: 15px 35px;
text-decoration: none;
transition: all 150ms ease-in-out;
}
.pricing-button:hover,
.pricing-button:focus {
background-color: #e1f1ff;
}
.pricing-button.is-featured {
background-color: #48aaff;
color: #fff;
}
.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
background-color: #269aff;
}
.ul {
list-style-type:none;
}